#-----------------------------------------------------------------------
# GUI Native GDC Mode
#-----------------------------------------------------------------------
gui.rendering="native_compat320"
